
  <div class="col-md-3 full-height">
    <%= render 'shared/profilesidebar' %>
  </div>

  <div class="col-md-9 full-height">
    <div class="content">
      <div class="outer">
        <div class="inner">
          <h3><em>My Workshop</em></h3>
        </div>
      </div>


          <% @user.workshop.machines.each do |machine| %>
          <% machine.orders.each do |order| %>
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
            <div class="job-list-card">
              <ul>
                <li>Order Id : <%= order.id %></li>
                <li><%= order.designer.name %> would like to make an order</li>
                <li>Message : <%= order.description %></li>
                <li>State : <%= order.state %></li>
                <li>Proposed price : <%= order.price || 'n/a' %></li>
              </ul>

                <% if order.state == 'asking' %>
                  <%= simple_form_for((@order && @order == order ? @order : order), url: account_received_order_path(order)) do |f| %>
                    <p>Make an offer : <%= f.input :price, label: "Price" %></p>
                    <%= f.button :submit, "Reply with an offer", class: "btn btn-success" %>
                    <p>Designer accept price, start the order</p>
                  <% end %>
                <% elsif order.state == 'accepted' %>
                <% end %>

            </div>
            </div>
            <div class="col-md-6"></div>
          <% end %>
          <% end %>

    </div>
  </div>






<!--
  <div class="col-md-9 full-height">
    <div class="content">
      <div class="outer">
        <div class="inner">
          <h3><em>My Workshop</em></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="user-profile">
            <h4>Orders List</h4>
          <div class="col-md-6">
            <%# @user.workshop.machines.each do |machine| %>
              <%# machine.orders.each do |order| %>
                <p>Order Id : <%#= order.id %></p>
                <p><%#= order.designer.name %> would like to make an order</p>
                <p>Message : <%#= order.description %></p>
                <p>State : <%#= order.state %></p>
                <p>Proposed price : <%#= order.price || 'n/a' %></p>

                <%# if order.state == 'asking' %>
                  <%#= simple_form_for((@order && @order == order ? @order : order), url: account_received_order_path(order)) do |f| %>
                    <p>Make an offer : <%#= f.input :price, label: "Price" %></p>
                    <%#= f.button :submit, "Reply with an offer", class: "btn btn-success" %>
                    <p>Designer accept price, start the order</p>
                  <%# end %>
                <%# elsif order.state == 'accepted' %>
                <%# end %>
              <%# end %>
            <%# end %>
          </div>
          <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->