<div class="container-fluid">
  <div class="row">
    <div class="mini-height">
      <div class="col-md-3">
        <%= render 'shared/profilesidebar' %>
      </div>
      <div class="col-md-9">
        <div class="outer">
          <div class="inner">
            <h3><em>My Workshop</em></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="user-profile">
            <h4>Orders List</h4>
            <div class="col-md-6">
              <% @user.workshop.machines.each do |machine| %>
                <% machine.orders.each do |order| %>
                  <p>Order Id : <%= order.id %></p>
                  <p><%= order.designer.name %> would like to make an order</p>
                  <p>Message : <%= order.description %></p>
                  <p>State : <%= order.state %></p>
                  <p>Proposed price : <%= order.price || 'n/a' %></p>

                  <% if order.state == 'asking' %>
                    <%= simple_form_for((@order && @order == order ? @order : order), url: account_received_order_path(order)) do |f| %>
                      <p>Make an offer : <%= f.input :price, label: "Price" %></p>
                      <%= f.button :submit, "Reply with an offer", class: "btn btn-success" %>
                      <p>Designer accept price, start the order</p>

                    <% end %>
                                        <% elsif order.state == 'accepted' %>

                  <% end %>
                <% end %>
              <% end %>


            </div>
            <div class="col-md-6">

            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>