
    <div class="col-md-3 full-height">
      <%= render 'shared/profilesidebar' %>
    </div>

    <div class="col-md-9 full-height">
      <div class="content">
        <div class="outer">
          <div class="inner">
            <h3><em>You ordered the following items</em></h3>
          </div>
        </div>

          <% if @orders.first == nil %>


          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
              <div class="order-list-card">
                  <div class="col-xs-10">
                    <div class= "order-info">
                      <h3>Oops, you don't have any order yet</h3>
                      <%= link_to t(".top_call_to_action", default: "Find machines"), machines_path, class: "btn" %>
                    </div>
                  </div>
              </div>
            <div class="col-xs-1"></div>
          </div>


          <% else %>

            <% @orders.each do |order| %>

              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                  <div class="order-list-card">
                    <div class="col-xs-6">
                      <div class= "order-info">
                        <h4>Order #<%= order.id %> -- <%= order.machine.machine_model.name %></h4>
                        <h4><%= link_to "#{order.machine.workshop.maker.name}" %></h4>
                        <h5>You asked :</h5> <%= order.description %>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <% if order.state == "asking" %>
                        <p><h5> Status: </h5> </br>
                        Your order request is being reviewed by <em><%= order.machine.workshop.maker.name %></em></p>
                      <% elsif order.state == "proposed_price" %>
                        <p><h5> Status: </h5>
                        <em><%= order.machine.workshop.maker.name %> asks for <h6><%= order.price %>€</h6> </p></br>
                        <%= link_to "Accept proposition", account_order_path(order), method: :put, class: "btn btn-primary pull-right" %>
                      <% else %>
                        <p><h5> Status: </h5>
                        You are making <em><%= order.designer.name %></em> 's project.</p> </br>
                        <%= link_to "Complete order", account_order_path(order), method: :put, class: "btn btn-primary pull-right" %>
                      <% end %>
                    </div>
                    <div class="col-xs-2">
                      <div class="order-icon">
                        <%= image_tag order.machine.category.icon, height: '90px' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-1"></div>
              </div>
            <% end %>
          <%end%>
  </div>
</div>