<div class="container-fluid">
  <div class="row">
    <div class="mini-height">
      <div class="col-md-3">
        <%= render 'shared/profilesidebar' %>
      </div>
      <div class="col-md-9">
        <div class="outer">
          <div class="inner">
            <h3><em>Orders List</em></h3>
          </div>
        </div>
        <div>
          <% @orders.each do |order| %>
            <div class="light-padded">
              <ul>
                <li>
                  Order Id: <%= order.id %>
                </li>
                <li>
                  Desc: <%= order.description %>
                </li>
                <li>
                  Maker: <%= order.machine.workshop.maker.name %>
                </li>
                <li>
                  <% if order.state == "asking" %>
                   <p>Status: <%= order.state %></p>
                   <% elsif order.state == "proposed_price" %>
                   <p>Price proposes <%= order.price %></p>
                   <%= link_to "Accept proposition", account_order_path(order), method: :put, class: "btn btn-primary" %>
                   <% else %>
                   <%= link_to "Complete order", account_order_path(order), method: :put, class: "btn btn-primary" %>
                   <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
