<div class="container-fluid padded">
  <div class="row">
    <div class="col-md-3">
      <div class="padded sidebar">
        <h2>My Account</h2>
      </div>
    </div>
    <div class="col-md-8">


    <div class="user-account">
      <!-- link to profile_picture -->
      <div class="col-sm-4 right">
        <%= image_tag user_picture(:little) %>
      </div>

      <div class="col-sm-6">
        <div class="left-padded">
          <% if @user.name %>
            <h1><%= @user.name.capitalize %></h1>
          <% else %>
            <h1><%= @user.email.capitalize %></h1>
          <% end %>

          <br><br>

          <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd><%= @user.email %></dd>
            <dt>Phone number</dt><dd><%= @user.phone_number %></dd>
            <dt>Description</dt><dd><%= @user.description %></dd>
          </dl>
          <%= link_to "Update profile", edit_user_registration_path, class: "btn btn-success pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
