<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner">
        <div class="text-center">
          <%= image_tag "apron.svg" %>
          <!-- <h1>Fabily</h1> -->
          <br />
          <p id="catch">Besoin d'un prototype ?</p>
          <p>Choisissez le procédé.</p>
          <p>Envoyer votre fichier.</p>
          <p>Recevez votre pièce.</p>
          <br />
        </div>
        <div class="text-center">
          <button>
            <a href="#typeform">
              Commencer
            </a>
          </button>
        </div>
      </div>

      <!-- Change the width and height values to suit you best -->
      <div id="typeform" class="typeform-widget" data-url="https://usineio.typeform.com/to/Rg5GZf" data-text="Fabily" style="width:85%;height:700px;padding-left:15%;"></div>

      <%= javascript_tag do %>
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
      <% end %>

      <!-- <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_Rg5GZf&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=Français" style="color: #999" target="_blank">Typeform</a></div> -->

      <!-- <div id="search">
        <div class="text-center bg-greyish small-padded">
        <%= render 'shared/autocompleteform' %>
      </div> -->
    </div>
  </div>
</div>
<!-- <div id="map" style="width: 100%; height: 300px;"></div> -->

<!--
<% content_for(:after_js) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCDkFnlVcP8Dod8Eeil9fZmWKxQdC13Uew">
  </script>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('user_input_autocomplete_address');
      });
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


