<div class="container">
  <h1 class="text-center">Here are the machines</h1>
    <% @machines.each do |machine| %>
      <div class="border-bottom">
        <div class="row">
          <div class="light-padded">
            <div class="col-xs-4">
              <ul class="list-inline">
                <li class="vertical-top ">
                  <%= image_tag machine.workshop.maker.picture, class: "img-avatar2" %>
                </li>
                <li>
                  <h4><%= machine.workshop.maker.name.capitalize %>'s Workshop</h4>
                  <h34 style="color:#A07031">Machine <%= machine.name %></h3>
                </li>
              </ul>
            </div>
            <div class="col-xs-1">
              <%= image_tag machine.category.icon, class: "img-avatar2" %>
              <br>
              <%#= machine.category.name %>
            </div>
            <div class="col-xs-5">
              <p><%= machine.description %></p>
              <p>Material: <em><%= machine.materials.map(&:name).join(",") %></em></p>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#order_<%= machine.id %>" aria-expanded="false" aria-controls="collapseExample" id="machine_row_<%= machine.id %>">
                Click to start your project
              </button>
            </div>
            <div class="col-xs-12">
              <div class="collapse" id="order_<%= machine.id %>">
                <div class="col-xs-4">
                  <div id="map_<%= machine.id %>" class="form-order" style="width: 300px; height: 300px;"></div>
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-7">
                  <!-- <div class="form-order"> -->
                    <%= simple_form_for(@order, url: orders_path, html: { multipart: true }) do |f| %>
                      <h3>LET'S ORDER !</h3>
                      <%= f.association :machine_material, collection: machine.machine_materials.map{|m| [m.material.name, m.id]}, prompt: "Choose a material" %>
                      <%= f.input :description %>
                      <%= f.hidden_field :machine_id, value: machine.id %>
                      <%= f.button :submit, "Start your project", class: "btn btn-success margin-neg" %>
                    <% end %>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        <%= content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              $('.collapse').on('show.bs.collapse', function () {
                $('.collapse.in').collapse('hide');
              });
              $('#machine_row_<%= machine.id %>').on('click', function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map_<%= machine.id %>' } }, function(){
                  var markers = handler.addMarkers(<%= raw @markers[machine.workshop.id].to_json %>);
    <!--                  // handler.bounds.extendWith(markers); -->
                  var map = handler.getMap();
                  map.setZoom(16);
                  map.setCenter(new google.maps.LatLng(<%= machine.workshop.latitude %>, <%= machine.workshop.longitude %>));
                });
              })
            });
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


