<div class="container">
  <div class="container light-padded">
    <div class="row">
      <h1 class="text-center">Here are the machines</h1>
    </div>
  </div>

    <% @machines.each do |machine| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="light-padded">
        <div class="text-center">
          <p>Brand: <%= link_to machine.brand.name, machine_path(machine) %></p>
          <p>Category: <%= machine.category.name %></p>
          <p>Modèle: <%= machine.machine_model.name %></p>
          <p>Matériel: <%= machine.materials.map(&:name).join(",") %></p>
          <p>Colors: <%= machine.machine_materials.map(&:colors).join(",") %></p>
          <p>Maker: <%= machine.workshop.maker.name %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>