<%= simple_form_for(@machine, url: account_workshop_machines_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div id="machines_category">
    <%= f.input :category, :label => "Select machine category", collection: @categories, required: true, prompt: "Categories" %>

    <%#= f.input :brand, collection: @brands, required: true, autofocus: true %>

    <%= f.association :machine_model, :collection => MachineModel.all.order(:name), required: true  %>
  </div>

  <%= f.input :description, :label => "Tell us more about your machine" %>

<!-- Nested Material fields DO NOT REMOVE PLZ -->

      <div id="materials">
        <%= f.simple_fields_for :machine_materials do |machine_material| %>
         <%= render 'machine_material_fields', :f => machine_material %>
        <% end %>
      </div>

      <div class="links">
        <%= link_to_add_association 'add material', f, :machine_materials %>
      </div>

        <%= f.button :submit, "Add machine", class: "btn btn-success" %>
  <% end %>

  <%= form_tag get_models_path, remote: true, id: "category_id_form" do %>
    <%= hidden_field_tag :category_id %>
  <% end %>

<!--
  <ul class="list-inline">
  <%#= f.fields_for :machine_materials do |machine_material_form| %>
    <li><%#= machine_material_form.association :material %></li>
    <li><%#= machine_material_form.input :colors %></li>
    <li><%#= link_to "Add more" %>
  <%# end %>
  </ul>

  <ul class="list-inline">
  <%#= f.fields_for :machine_materials do |machine_material_form| %>
    <li><%#= machine_material_form.association :material %></li>
    <li><%#= machine_material_form.input :colors %></li>
    <li><%#= link_to "Add more" %>
  <%# end %>
  </ul>

  <ul class="list-inline">
  <%#= f.fields_for :machine_materials do |machine_material_form| %>
    <li><%#= machine_material_form.association :material %></li>
    <li><%#= machine_material_form.input :colors %></li>
    <li><%#= link_to "Add more" %>
  <%# end %>
  </ul>

  -->





