    <div class="col-md-3 full-height">
      <%= render 'shared/profilesidebar' %>
    </div>
    <div class="col-md-9 full-height">
      <div class="outer">
        <div class="inner">
          <h3><em>My Account</em></h3>
        </div>
      </div>
      <div class="row">
        <%= simple_form_for(@user, url: account_path(@user), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="col-md-6">
          <div class="user-profile">
            <h4>Your Name</h4>
            <%= f.input :name, label: 'Username' %>
            <%= f.input :firstname, label: 'First name' %>
            <%= f.input :lastname, label: 'Last name' %>
            <div class="padded-small"></div>
            <h4>Details</h4>
            <%= f.input :description, label: 'About you' %>
            <%= f.input :phone_number, label: 'Phone number' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user-profile">
          <h4>Your profile picture</h4>
            <%= image_tag user_picture(:medium) %>
            <div class="padded-small">
              <%= f.input :picture, label: 'Update your picture', class: "text-center" %>
            </div>
            <div class="margin-neg">
              <%= f.button :submit, 'Save', class: "btn btn-success" %>
            </div>
        <% end %>
          </div>
        </div>
      </div>
    </div>

